/* @import "partials/variables"; */

@media (max-width: 768px) {
  $mPaddingAmt: 10px;

  .hpadded {
    padding: 0 $mPaddingAmt;
  }
  .vpadded {
    padding: $mPaddingAmt 0;
  }
  .padded {
    padding: $mPaddingAmt;
  }

  header {
    .container {
      padding: 10px;
    }

    #logo {
      img {
      }
    }

    #header-form-links {
      li {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
  }

  #home-solutions-overview {
    .solution {
      padding-bottom: 30px;

      .content {
        height: auto;
      }
    }
  }

  html.js {
    #our-solutions {
      .solutions {
        .solution {
          .expand {
            display: none;
          }
        }
      }
    }
  }

  #our-solutions {
    .solutions {
      .solution {
        header {
          $mSolHeaderHeight: 50px;
          $mIconHeight: 40px;

          height: $mSolHeaderHeight;

          .icon {
            padding: ($mSolHeaderHeight - $mIconHeight) / 2;

            img {
              width: $mIconHeight;
            }
          }

          .title {
            line-height: $mSolHeaderHeight;
            padding-left: $mSolHeaderHeight + 10;
            font-size: 1.4em;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #home-solutions-overview {
    .solution {
      .content {
        min-height: 160px;
      }
    }
  }
}

@media (max-width: 991px) {
  #home-index, #our-approach, #knowledge-technology {
    .align-right { text-align: left; }
  }

  #home-banner, #our-solutions-banner, #about-us-banner, #contact-us-banner {
    height: 400px;
  }

  #knowledge-technology {
    .solution {
      margin-bottom: 2em;

      .align-center { text-align: left; }

      &.empowering {
        img {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #home-solutions-overview {
    .solution {
      .content {
        min-height: 120px;
      }
    }
  }
}

@media (min-width: 1200px) {
  #home-solutions-overview {
    .solution {
      .content {
        min-height: 100px;
      }
    }
  }
}
