@import "variables";

html.js {
  .content-area {
    transition-property: all;
    transition-duration: 400ms;
    opacity: 1;

    &.will-fadein {
      opacity: 0;
      transform: translate(0, -30px);
    }
  }

  #solutions-overview {
    .solution-overview {
      table {
        width: 200px;

        &.expanded {
          width: 100%;
        }

        td, th {
          display: none;
        }

        thead {
          tr {
            th:first-child {
              display: table-cell;
              cursor: pointer;
            }
          }
        }
      }

      &:target {
        table {
          width: 100% !important;

          td, th {
            display: table-cell !important;
          }
        }
      }
    }
  }

  #our-solutions {
    $anim-duration: 400ms;

    .solutions {
      header {
        cursor: pointer;

        .expand {
          display: block;
        }
      }

      article {
        position: relative;
      }

      .solution-expanded, .solution-compacted {
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        transform: translate(-30px, 0);
        transition-property: opacity, transform;
        transition-duration: $anim-duration;
        /* transition-delay: $anim-duration * 1.01; */
      }

      .solution-expanded {
        opacity: 0;
        display: none;
      }

      .solution-compacted {
        transform: translate(0, 0);
        display: block;
        opacity: 1;
        position: static;
      }

      .solution {
        &.expanded {
          .solution-compacted {
            transform: translate(-30px, 0);
            position: absolute;
            opacity: 0;
          }

          .solution-expanded {
            position: static;
            transform: translate(0, 0);
            opacity: 1;
            display: block;
          }
        }
      }
    }

    .solution-compacted {
      .features {
        .feature {
          cursor: pointer;
          overflow: hidden;

          &, .feature-inner, .icon, .content p {
            transition-property: all;
            transition-duration: $anim-duration;
            transition-delay: 100ms;
          }

          .content {
            p {
              display: block;
              opacity: 0;
            }
          }

          &:hover {
            background-color: darken($grayLight, 10%);

            .feature-inner {
              margin-top: -60px;
            }

            .icon {
              opacity: 0;
            }

            .content {
              p {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

