html.js {
  #our-solutions {
    .solution-compacted {
      .features {
        .feature {
          .content {
            p {
              display: none;
            }
          }

          &:hover {
            .icon {
              visibility: hidden;
            }

            .content {
              p {
                display: block;
              }
            }
          }
        }
      }
    }

    .solution {
      &.expanded {
        .solution-compacted{
          display: none;
        }

        .solution-expanded{
        }
      }
    }
  }
}

#home-banner, #about-us-banner, #our-solutions-banner, #contact-us-banner {
  h1 {
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#777777,direction=120, strength=5);
  }
}

