/**
 * Color palette
 */
$gray: #E6E7E8;
$grayLight: #EFEFF0;
$grayLighter: #F6F6F6;
$grayDark: #58595B;

$yellow: #C99020;
$brown: #944D16;
$blueDark: #004A75;
$blue: #0285C8;
$redBrown: #954D16;


/**
 * Color palette assignment
 */
$headerBg: $grayLighter;
$headerInnerBg: $gray;

$navBg: $grayLighter;
$navInnerBg: $grayLight;

$footerBg: $grayLighter;
$footerInnerBg: $grayLight;

$contentTextColor: $grayDark;

/**
 * Layout related vars
 */
$paddingAmt: 40px;
$contentAreaMarginAmt: 40px;


/**
 * Layout helpers
 */
.xxx-large {
  font-size: 3em;
  display: block;
  line-height: 1.2em;
}
.large{
  font-size: 1.2em;
}
.small {
  font-size: 0.85em;
}
.x-small {
  font-size: 0.7em;
}
p {
  &.small,
  &.x-small {
    margin-bottom: 0.5em;
  }
}
.italic { font-style: italic; }
.bold { font-weight: bold; }
.times { font-family: "Times New Roman", times, serif; }
.black { color: black }

.float-left {
  float: left;
  margin: 0 10px 10px 0;
}
.float-right {
  float: right;
  margin: 0 0 10px 10px;
}
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }
.content-area {
  margin-bottom: $contentAreaMarginAmt;
}


/**
 * General sections
 */
header {
  background: $headerBg;

  .container {
    background: $headerInnerBg;
    padding: 10px 0 20px 20px;
    height: 117px;
  }

  #logo {
    a {
      display: inline-block;
      width: 300px;
      height: 57px;
      background: url('/images/logo-cobaltastra.png') no-repeat 0 0 transparent;
    }
  }
}

nav {
  border: 0 none !important;
  border-radius: 0 !important;
  background: $navBg;

  .container {
    background: $navInnerBg;
  }
}
.graybox {
  background-color: $grayLight;

  .section {
    padding: $paddingAmt;
  }
}
.hpadded {
  padding: 0 $paddingAmt;
}
.vpadded {
  padding: $paddingAmt 0;
}
.padded {
  padding: $paddingAmt;
}
.padded, .vpadded {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}
.heading-box {
  &.yellow   { background-color: $yellow; }
  &.brown    { background-color: $brown; }
  &.blueDark { background-color: $blueDark; }
  &.blue     { background-color: $blue; }
  &.redBrown { background-color: $redBrown; }

  padding: $paddingAmt;

  h1, h2, h3, h4, h5, h6 {
    font-size: 32px;
    color: white;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

}
#content {
  margin-top: $contentAreaMarginAmt;
  color: $contentTextColor;
}
footer {
  margin: $paddingAmt 0 0;
  background: $footerBg;

  .container {
    padding: $paddingAmt / 2 $paddingAmt / 2 $paddingAmt;
    background: $footerInnerBg;
  }
}


/**
 * Content
 */
#services-overview {
  margin: 20px 0;

  .service {
    .icon, h4, p {
      text-align: center;
    }

  }
}
@mixin banner($h1_width: 650px) {
  height: 400px;
  position: relative;
  text-align: center;

  h1 {
    $h1Width: $h1_width;
    $h1MarginLeft: -$h1Width / 2;

    width: $h1Width;
    margin-left: $h1MarginLeft;

    position: absolute;
    left: 50%;
    bottom: 30px;
    color: white;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.7);
  }
}
#home-banner {
  @include banner;
  background: url(/images/home-banner.jpg) no-repeat center center transparent;
}
#contact-us-banner {
  @include banner(100%);
  background: url(/images/home-banner.jpg) no-repeat center center transparent;
}

#business-cornerstone {
  margin: 40px 0;
}

$tableCellPadding: 1em;

#solutions-overview {

  .solution-overview {
    background: $grayLight;
    margin-bottom: $contentAreaMarginAmt;

    table {
      background-color: white;
      border: 1px solid $grayDark;

      thead {
        th {
          padding: $tableCellPadding / 2 $tableCellPadding;

          &:first-child {
            background-color: $blue;
            color: white;
          }
        }
      }

      tr {
        td {
          width: 25%;
        }
      }

      thead {
        th:first-child {
          width: 50%;
        }
      }

      td {
        padding: $tableCellPadding / 2 $tableCellPadding;
        vertical-align: top;
      }

      th, td {
        border-right: 1px solid $grayDark;
        border-bottom: 1px solid $grayDark;
      }
    }
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    font-style: italic;
    margin-bottom: 0.75em;
  }

  p {
    font-size: 1.2em;
    margin-bottom: 0.75em;
  }
}
#about-us {
  strong {
    font-weight: 400;
    font-size: 1.4em;
  }
}

html.js {
  body {
    #content {
      transition-property: opacity;
      transition-duration: 150ms;
      opacity: 0;
    }

    &.fadeout {
      #content {
        opacity: 0;
      }
    }

    &.fadein {
      #content {
        opacity: 1;
      }
    }
  }

  .content-area {
    transition-property: all;
    transition-duration: 500ms;
    opacity: 1;

    &.will-fadein {
      opacity: 0;
      -webkit-transform: translate(0, -50px);
    }
  }

  #solutions-overview {
    .solution-overview {
      table {
        width: 200px;

        &.expanded {
          width: 100%;
        }

        td, th {
          display: none;
        }

        thead {
          tr {
            th:first-child {
              display: table-cell;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
