@import "partials/variables";

/**
 * Bootstrap overrides
 */
.btn-primary {
  background-color: $blueDark;
  border-color: $blueDark;
  border-radius: 0;

  &:hover {
    background-color: lighten($blueDark, 5%);
  }
}
.col-sm-4 .approach.technology, .col-sm-4 .approach.commitment { padding-top: 10px; } 

/**
 * Layout helpers
 */
.xxx-large {
  font-size: 3em;
  display: block;
  line-height: 1.2em;
}
.large{
  font-size: 1.2em;
}
.small {
  font-size: 0.85em;
}
.x-small {
  font-size: 0.7em;
}
p {
  &.small,
  &.x-small {
    margin-bottom: 0.5em;
  }
}
.italic { font-style: italic; }
.bold { font-weight: bold; }
.times { font-family: "Times New Roman", times, serif; }
.black { color: black }

.float-left {
  float: left;
  margin: 0 10px 10px 0;
}
.float-right {
  float: right;
  margin: 0 0 10px 10px;
}
.align-center {
  text-align: center;

  .img-responsive {
    display: inline-block;
  }
}
.align-left { text-align: left; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }
.content-area {
  margin-bottom: $contentAreaMarginAmt;
}
.gray-bg        { background-color: $gray; }
.grayLight-bg   { background-color: $grayLight; }
.grayLighter-bg { background-color: $grayLighter; }
.grayDark-bg    { background-color: $grayDark; }
.grayDarker-bg  { background-color: $grayDarker; }
.greenDark-bg   { background-color: $greenDark; }
.brown-bg       { background-color: $brown; }
.blueDark-bg    { background-color: $blueDark; }
.blue-bg        { background-color: $blue; }
.redBrown-bg    { background-color: $redBrown; }

.blueDark-text    { color: $blueDark; }



/**
 * General sections
 */
body {
  font-size: 16px;
}
header {
  background: $headerBg;
  color: $headerTextColor;

  a {
    color: $headerTextColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .container {
    background: $headerInnerBg;
    padding: 20px 20px 20px 40px;
    height: 123px;
  }

  #logo {
    h1 {
      margin: 0;
    }
    a {
      display: inline-block;
      width: 300px;
      height: 77px;
      /* background: url('/images/logo-cobaltastra.png') no-repeat 0 0 transparent; */
    }
  }
}

nav#header-nav {
  font-size: 0.85em;

  ul {
    li {
      /* margin: 0 1em; */
      margin: 0;
      padding: 0;

      &:before {
        content: ' | ';
        margin: 0 1em;
      }

      &:first-child {
        &:before {
          content: '';
          margin-left: 0
        }
      }
    }
  }
}

nav#main-nav {
  border: 0 none !important;
  border-radius: 0 !important;
  background: $navBg;

  color: $headerTextColor;

  a {
    color: $headerTextColor;
    text-decoration: none;

    &:hover {
      background-color: darken($navBg, 15%);
    }
  }

  .navbar-brand {
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav {
    font-size: 1.2em;

    & > li {
      & > a {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  .navbar-toggle {
    background-color: transparent;

    .icon-bar {
      background-color: $grayDark;
    }
  }

  .container {
    background: $navInnerBg;
  }
}
.graybox {
  background-color: $grayLight;

  .section {
    padding-top: $paddingInnerAmt;
    padding-bottom: $paddingInnerAmt;
  }
}
.hpadded {
  padding: 0 $paddingAmt;
}
.vpadded {
  padding: $paddingAmt 0;
}
.padded {
  padding: $paddingAmt;
}
.padded, .vpadded {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}
.heading-box {
  &.greenDark { background-color: $greenDark; }
  &.brown     { background-color: $brown; }
  &.blueDark  { background-color: $blueDark; }
  &.blue      { background-color: $blue; }
  &.redBrown  { background-color: $redBrown; }

  padding: $paddingAmt;

  h1, h2, h3, h4, h5, h6 {
    font-size: 32px;
    color: white;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.4em;
  }

}
#content {
  margin-top: $contentAreaMarginAmt;
  color: $contentTextColor;

  .jotform {
    .title {
      margin-bottom: -40px;
    }
  }
}
footer {
  margin: $paddingAmt 0 0;
  background: $footerBg;

  .container {
    padding: $paddingAmt / 2 $paddingAmt / 2 $paddingAmt;
    background: $footerInnerBg;
  }
}
.icon {
  &.enabling   img { background-color: $solEnabling; }
  &.growing    img { background-color: $solGrowing; }
  &.empowering img { background-color: $solEmpowering; }
}


/**
 * Content
 */
.approach {
  &.experience {
    h1, h2, h3, h4, h5, h6 { color: $aprExperience; }
  }
  &.technology {
    h1, h2, h3, h4, h5, h6 { color: $aprTechnology; }
  }
  &.collaboration {
    h1, h2, h3, h4, h5, h6 { color: $aprCollaboration; }
  }
  &.Commitment {
    h1, h2, h3, h4, h5, h6 { color: $aprCommitment; }
  }
}

#home-solutions-overview {
  margin: 20px 0;

  .solution {

    .section {
      padding: 0 20px;
    }

    .icon, h4, p {
      text-align: center;
    }

    $icon-width: 60px;
    .icon {
      img {
        display: inline-block;
        padding: 5px 10px;
        width: $icon-width;
      }
    }
  }
}
@mixin banner($h1_width: 650px) {
  height: 300px;
  position: relative;
  text-align: center;

  h1 {
    $h1Width: $h1_width;
    $h1MarginLeft: -$h1Width / 2;

    width: $h1Width;
    margin-left: $h1MarginLeft;

    position: absolute;
    left: 50%;
    bottom: 30px;
    color: white;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.7);
  }
}
#home-banner {
  @include banner;
  background: url(/images/home-banner.jpg) no-repeat center center transparent;
}
#about-us-banner {
  @include banner;
  background: url(/images/about-us-banner.jpg) no-repeat center center transparent;
}
#our-solutions-banner {
  @include banner;
  background: url(/images/our-solutions-banner.jpg) no-repeat center center transparent;
}
#contact-us-banner {
  @include banner(100%);
  background: url(/images/contact-us-banner.jpg) no-repeat center center transparent;
}

#business-cornerstone {
  margin: 40px 0;
}

#about-us {
  .solution {
    &.enabling {
      h1, h2, h3, h4, h5, h6 { color: $solEnabling; }
    }
    &.growing {
      h1, h2, h3, h4, h5, h6 { color: $solGrowing; }
    }
    &.empowering {
      h1, h2, h3, h4, h5, h6 { color: $solEmpowering; }
    }
  }
}

#our-solutions {
  .solutions {
    .solution {
      background-color: $grayLight;
      color: black;
      margin-bottom: 40px;

      header {
        $solHeaderHeight: 70px;
        $iconHeight: 60px;

        color: white;
        height: $solHeaderHeight;
        overflow: hidden;
        position: relative;

        .expand {
          display: none;
          position: absolute;
          top: 50%;
          right: 30px;
          line-height: 12px;
          margin-top: -6px;
          float: right;
          font-size: 12px;
        }

        .icon {
          float: left;
          padding: ($solHeaderHeight - $iconHeight) / 2;
        }

        .title {
          line-height: $solHeaderHeight;
          padding-left: $solHeaderHeight + 10;
          margin: 0;
        }
      }

      .features {
        margin-top: 2em;

        .feature {
          margin-bottom: 1em;
        }
      }

      .solution-compacted {
        display: none;

        .feature {
          width: 180px;
          height: 160px;
          display: inline-block;
          margin: 0;
          padding: 10px 5px;
          vertical-align: top;

          &:first-child {
            margin-left: 0;
          }

          .content {
            h1, h2, h3, h4, h5, h6 {
              display: block;
              font-size: 16px;
            }

            p {
              display: none;
              font-size: 0.85em;
            }
          }
        }
      }

      &.enabling {
        header {
          background-color: lighten($solEnabling, 5%);

          .icon { background-color: $solEnabling; }
        }
      }

      &.growing {
        header {
          background-color: lighten($solGrowing, 5%);

          .icon { background-color: $solGrowing; }
        }
      }

      &.empowering {
        header {
          background-color: lighten($solEmpowering, 5%);

          .icon { background-color: $solEmpowering; }
        }
      }
    }
  }
}

#content {
  strong {
    font-weight: 400;
    font-size: 1.4em;
  }
}

#knowledge-technology {
  .solution {
    ul, li {
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
    }
  }
}

#our-team, #team-member-profile {
  .member_name {
    margin-top: 6px;
    margin-bottom: 3px;
  }
  .title {
    margin-top: 0;
  }
}

#team-member-profile {
  .return-to-full-listing {
    background-color: $blueDark;
    color: #fff;
    padding: 5px 10px;
  }
}

#our_team_navigation {
  padding: 20px;
  margin-bottom: 20px;
  .content-area {
    margin-bottom: 10px;
    .our-team-navigation {
      a { 
        color: #fff;
        border-bottom: 1px solid #fff;
        display: block;
        margin-bottom: 0;
      }
      a:hover { text-decoration: none; color: $grayDarker; }
    }
  }
  background-color: $greenDark;
}

.not_found_content { float: left; width: 30%; clear: both; min-width: 320px; }
#not_found_about_us { margin-top: 40px; }
#not_found_about_us .not_found_header { background-color: $blueDark; }
#not_found_solutions { margin-top: 10px; }
#not_found_solutions .not_found_header { background-color: $redBrown; }
#not_found_contact { margin-top: 10px; }
#not_found_contact .not_found_header { background-color: $greenDark; }

.not_found_header { height: 42px; line-height:  44px; font-size: 20px; margin-bottom: 3px; }
.not_found_header a { margin-left: 15px; color: #fff; }
.not_found_header img { float: left; width: 35px; margin-left: 6px; margin-right: 6px; }
.not_found_content_links ul { list-style: none; margin: 0; padding: 0; }
.not_found_content_links li { margin-left: 60px; padding: 3px; }
.not_found_content_links li a { color: $redBrown; }


@import "partials/behaviors";
@import "partials/_responsive";
