extends layout

block title
  - var jotform_id = page.metadata.jotform_embed.match(/form\/(\d+)/)[1]
  - var page_id = page.filepath.full.match(/\/([-_A-Za-z]+)\.json$/)[1]
  = page.metadata.title + ' | ' + locals.name

block content
  div(id=page_id, class="jotform")
    .container
      .hpadded
        h1.title= page.metadata.title.toUpperCase()
      script(type="text/javascript", src="https://secure.jotformpro.com/jsform/" + jotform_id)
