extends layout

block title
  | Our Solutions | 
  = locals.name

block content

  - var solutions = _.chain(contents['solutions']._.pages).filter(function(item) {
  -   var match = item.filepath.relative.match(/solutions[\/](\d+)-(.*?)\.md/)
  -   return match
  - }).sortBy(function(item) {
  -   var match = item.filepath.relative.match(/solutions[\/](\d+)-(.*?)\.md/)
  -   return match ? parseInt(match[1]) : 0;
  - }).value();

  #our-solutions

    #our-solutions-banner.content-area.hidden-xs
      != contents['solutions']['h1-title.md'].html

    .container.visible-xs!= contents['solutions']['h1-title.md'].html

    .container
      .solutions
        each solution in solutions
          include partials/solution

block footermsg
  .container
    .heading-box.redBrown
      h3 Improving productivity and<br/> Increasing Profitability

